bokeh
cmocean
colorcet
felupe
geovista
matplotlib
nest_asyncio
numpy
panel
param
pip
pyvista<0.49.0
requests
stpyvista>=0.4.0
streamlit>=1.61.1
trame
trame-client
trame-components
trame-server
trame-vtk
trame-vuetify
